body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

header {
    background-color: #e9ecef;
    color: #495057;
    padding: 20px;
    margin-bottom: 0 25px;
    text-align: center;

}

main {
    padding: 35px;
    max-width: 1120px;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

h1, h2, h3 {
    color: #0056b3;
}

a {
    text-decoration: none;
    color: hwb(215 4% 3%);
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* ul {
    list-style-type: none;
    padding: 0;
} */
/* li {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #dee2e6;
} */

header nav a {
    margin: 8px;
    font-weight: bold;
    font-size: 20px;
}

input[type = "text"],
input[type = "email"],
input[type = "password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button[type = "submit"] {
    background-color: #007bff;
    color:white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button[type = "submit"]:hover {
    background-color: #0056b3;
}

.success-message {
    color: green;
    margin-bottom: 15px;
}

.errorlist {
    color:red;
    list-style-type: none;
    padding: 0; margin: 0 0 10px 0;
}